<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--<add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=ts360storageaccount;AccountKey=TYKSpzrawKfPaanqzdtKSK9jS20+ZuFdemTKL4a7CpHcTifD+9FBGeDUWpMCDkCXjeIxlunYWVVRyimazsoGlg==" />-->
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=ts360;AccountKey=xHSUepArmGH8ui3pivjhFqrXmIZShMAjJXBHnznyD6CQ9B3PgB7h+mBDEmQYmuM1EhdykCelD+u7NiWLYfEvhg==" />
    <add key="BlobServiceEndPoint" value="https://az653877.vo.msecnd.net/" />
    <add key="BlobContainerName" value="dev" />
    <add key="MongoDBName" value="TS360Staging" />
    <!--<add key="MongoDBConnectionString" value="mongodb://admin:Password1@cluster0-shard-00-00-onwnr.mongodb.net:27017,cluster0-shard-00-01-onwnr.mongodb.net:27017,cluster0-shard-00-02-onwnr.mongodb.net:27017/{DB_NAME}?ssl=true&amp;replicaSet=Cluster0-shard-0&amp;authSource=admin" />-->
    <!--<add key="MongoDBConnectionString" value="mongodb://5.0.242.45:27033/{DB_NAME}?safe=true" />-->
    <!--<add key="MongoDBConnectionString" value="mongodb://localhost:27017/{DB_NAME}?safe=true" />-->    
    <add key="MongoDBConnectionString" value="mongodb://admin:Password1@cluster0-shard-00-00-onwnr.mongodb.net:27017,cluster0-shard-00-01-onwnr.mongodb.net:27017,cluster0-shard-00-02-onwnr.mongodb.net:27017/{DB_NAME}?ssl=true&amp;replicaSet=Cluster0-shard-0&amp;authSource=admin" />
    <add key="WebFullURL" value="http://ts360devauth3.baker-taylor.com/sites/Publishing/_layouts/viewlsts.aspx"></add>
    <add key="UserName" value="btdev\intersoft" />
    <add key="Password" value="Inter$oft1" />
  </appSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
